# Criação e fatiamento de DataFrames

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Define números aleatórios iguais para qualquer computador
np.random.seed(101)

In [5]:
# Parametros: vetor, indice (numero das linhas), colunas
df = pd.DataFrame(np.random.randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [23]:
df[['W','X','Z']]

          W         X         Z
A -0.993263  0.196800  0.000366
B  1.025984 -0.156598  0.649826
C  2.154846 -0.610259 -0.346419
D  0.147027 -0.479448  1.024810
E -0.925874  1.862864  0.610478

In [25]:
df.loc['C']

W    2.154846
X   -0.610259
Y   -0.755325
Z   -0.346419
Name: C, dtype: float64